version: '3.8'

services:
  hello-world:
    build:
      context: .
      dockerfile: Dockerfile
    init: true
    environment:
      - HOST=0.0.0.0
      - PORT=8000
    networks:
      - dokploy-network
networks:
  dokploy-network:
    external: true